#CSSViewer_block,
#CSSViewer_center,
#CSSViewer_footer,
.CSSViewer_category,
span.CSSViewer_property,
#CSSViewer_block h1,
#CSSViewer_block h2,
#CSSViewer_block ul,
#CSSViewer_block li,
#CSSViewer_block span
{
	font-family:"Lucida sans", helvetica, sans-serif !important;
	font-size:10px !important;
	z-index:9999 !important;
	padding:0 !important;
	margin:0 !important;
	text-indent:0px !important;
	text-align:left !important;
	visibility: visible !important;
	width:auto !important;
	height:auto !important;
	line-height: 20px; 
}

#CSSViewer_block
{
	display:none;
	min-width:332px !important;
	font-size:10px !important;
	color:#555 !important;
	position:absolute !important;
	background-color: #212328 !important;
	border: 1.5px solid white;
}

#CSSViewer_center
{
	padding:10px 32px 0 32px !important;
	overflow:hidden !important;
}

#CSSViewer_footer
{
	padding-top:5px;
	color:#555 !important;
	text-align:center !important;
	width:332px !important;
	height:30px !important;
	display:block !important;
}

.CSSViewer_category
{
	padding:0 5px !important;
}

#CSSViewer_block h2
{
	padding-top:6px !important;
	color:#6a8e46 !important;
	font-size:12px !important;
	text-align:left !important;
	letter-spacing:-0.5px !important;
}

#CSSViewer_block ul
{
	padding:5px 5px 10px 5px !important;
	list-style:none !important;
	width:282px !important;
}

#CSSViewer_block li
{
	padding-left:5px !important; 
}


#CSSViewer_block span.CSSViewer_property
{
	color:#888 !important;
	float:left !important;
	width:100px !important; 
	display:block !important; 
	overflow:hidden !important;
}
