#designr_block,
#designr_center,
#designr_footer,
.designr_category,
span.designr_property,
#designr_block h1,
#designr_block h2,
#designr_block ul,
#designr_block li,
#designr_block span
{
	font-family:"Lucida sans", helvetica, sans-serif !important;
	font-size:10px !important;
	z-index:9999 !important;
	padding:0 !important;
	margin:0 !important;
	text-indent:0px !important;
	text-align:left !important;
	visibility: visible !important;
	width:auto !important;
	height:auto !important;
	line-height: 20px; 
}

#designr_block
{
	display:none;
	min-width:300px !important;
	font-size:10px !important;
	color:#555 !important;
	position:absolute !important;
	background-color: #212328 !important;
	border: 1.5px solid white;
}

#designr_center
{
	padding:10px 32px 0 32px !important;
	overflow:hidden !important;
}

#designr_footer
{
	padding-top:10px;
	color: rgb(176, 195, 211) !important;
	text-align:center !important;
	width:332px !important;
	height:30px !important;
	display:block !important;
}

.designr_category
{
	padding:0 5px !important;
}

#designr_block h2
{
	padding-top:6px !important;
	color:#63a3eb !important;
	font-size:12px !important;
	text-align:left !important;
	letter-spacing:-0.5px !important;
}

#designr_block ul
{
	padding:0px !important;
	padding-bottom: 10px !important;
	list-style:none !important;
	width:250px !important;
}

#designr_block li
{
	padding-left:0px !important; 
	color:#b6b6b6 !important;
}


#designr_block span.designr_property
{
	color: white !important;
	float:left !important;
	width:100px !important; 
	display:block !important; 
	overflow:hidden !important;
}
