.App {
    text-align: center;
    width: 25rem;
    height: 32rem;
  }
  
  .App-logo {
    height: 20vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #212328;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .error-message {
    color: #f64f59;
    text-align: left;
  }
  
  .border-gradient {
    --angle: 0deg;
    border: 10px solid;
    border-radius: 5px;
    border-image: linear-gradient(var(--angle), #12c2e9, #c471ed, #f64f59) 1;
    animation: 5s rotate linear infinite;
  }
  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
  