.App {
    text-align: center;
    width: 25rem;
    height: 32rem;
    background-color: #212328;
  }

  body {
    margin: 0px;
  }
  
  .logo {
    height: 20vmin;
    margin-top: 4rem;
    pointer-events: none;
  }

  .caption {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .App-header {
    background-color: #212328;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  .captions {
    text-align: left;
    margin-left: 3.5rem;
  }
  
  #view-settings:hover, #create-palette:hover, #back-palette-button:hover, #edit-palette-button:hover, #delete-palette-button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
  }

  .c-button {
    text-align: center !important;
    min-width: 80vw;
    padding: 15px;
    font-size: 1rem;
    transition: 0.4s;
  }
  
  .customButton {
    text-align: center !important;
    min-width: 80vw;
    padding: 15px;
    font-size: 1rem;
    transition: 0.5s;
    color: white;
    border: 2px solid white;
    outline: none;
    background: transparent;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 2rem;
    cursor: pointer;
  }

  .githubButton {
    margin-top: 1.3rem;
  }

  .customButton:hover {
    background: white;
    color: black;
  }
  
  
  .border-gradient {
    --angle: 0deg;
    border: 10px solid;
    border-radius: 5px;
    border-image: linear-gradient(var(--angle), #12c2e9, #c471ed, #f64f59) 1;
    animation: 5s rotate linear infinite;
  }

  .link {
    color: white;
    font-weight: bold;
  }

  .bottom {
    color: white;
    margin-top: 3rem;
  }
  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }


  /* Main Page */
  .main {

  }

  .logo-nav {
    height: 3rem;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    border-bottom: 1px solid white;
  }

  .nav .buttons {
    display: flex;
    width: 7rem;
    justify-content: space-around;
    margin-top: 6.5px;
    /* background-color: red; */
  }

  .nav .buttons button, .nav .back-button {
    color: white;
    border: 1.5px solid white;
    border-radius: 4px;
    height: 2.4rem;
    width: 2.4rem;
    font-size: 15px;
    background: transparent;
    padding: 5px;
  }

  #main .table {
    width: 100%;
    color: white;
    text-align: left;
    margin-top: 10px;
    font-size: 14px !important;
  }


  #main .table-cell {
    display: flex;
    padding: 5px;
    margin-left: 15px;
    font-size: 15px;
  }

  #main .none-palette {
    color: white;
    font-size: 20px;
    margin-top: 7.7rem;
  }

 .sub-icon {
    font-size: 50px;
    margin-bottom: 15px;
  }

  #paletteTable {
    border-collapse:collapse;
  }

  #paletteTable tr {
    cursor: pointer;
    transition: 0.5s;
    height: 34px;
    padding-left: 10px;
  }

  #paletteTable .customcheckbox {
    padding-left: 10px;
  }

  #paletteTable tr:hover {
    background-color: #2e2f31;
  }

  #paletteTable .headRow:hover {
    cursor:default;
    background-color: transparent !important;
  }


  /* Modal */

  .modal {
    display: flex;
    margin: auto !important;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 250px;
    padding: 1rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 22%;
    left: 15%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  .error {
    border: 1.5px solid red !important;
  }
  
  .modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
  }
  
  button {
    cursor: pointer;
    border: none;
    font-weight: 600;
  }

  #paletteNameInput {
    margin-bottom: 12px !important;
    font-size: 13px;
    outline: none;
  }
  
  .btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: #212328;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    transition: 0.4s;
  }

  .btn:hover {
    background-color: #000000;
  }

  .modal-title {
    margin-top: 0px;
  }

  .btn-close-modal {
    background-color: rgb(63, 62, 62);
    transition: 0.4s;
  }

  .btn-close-modal:hover {
    background-color: #343435;
  }

  #paletteLabel {
    text-align: left;
    font-weight: bold;
    color: #2e2f31;
    margin-top: 4px;
    font-size: 12px;
  }
  
  .btn-open {
    position: absolute;
    bottom: 150px;
  }
  
  .btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }
  
  .hidden {
    display: none;
  }

  #view-palette .palette-title{
    color: white;
    text-align: left;
    margin-left: 13px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  #view-palette .front-section {
    display: flex;
    align-items: center;
    margin-top: 6.5px;
  }

  /* Elements View Display */

  #select-element-button {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    font-weight: 700;
    background-color: #212328;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    transition: 0.4s;
  }

  #select-element-button:hover {
    color: #343435;
    background-color: white;
  }

  #view-palette .none-palette-element {
    color: white;
    font-size: 20px;
    margin-top: 5rem;
  }