.Dashboard {
    text-align: center;
    width: 25rem;
    height: 32rem;
  }
  
  .Dashboard-logo {
    width: 9rem;
    pointer-events: none;
  }
  
  .Dashboard-header {
    background-color: #212328;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  

  .border-gradient {
    --angle: 0deg;
    border: 10px solid;
    border-radius: 5px;
    border-image: linear-gradient(var(--angle), #12c2e9, #c471ed, #f64f59) 1;
    animation: 5s rotate linear infinite;
  }
  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
  

.custom-button {
    width: 250px;
}