

.logo {
  height: 20vmin;
  pointer-events: none;
}

.header {
  background-color: #212328;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  @apply w-full ml-10 mr-10;
}

.customButton {
  text-align: center !important;
  min-width: 80vw;
  padding: 15px;
  font-size: 1rem;
  transition: 0.5s;
  @apply text-white bg-transparent hover:bg-white hover:text-black border border-white focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2;
}
